<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% for i in allblogs %}
                {% if i['id']==idno: %}
    <title>{{i['title']}}</title>
      {% endif %}
                {% endfor %}
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>My Blog</h1></div>
           </div>
        <div class="content">
            <div class="card">
                {% for i in allblogs %}
                {% if i['id']==idno: %}
                <h2>{{i['title']}}</h2>
                <p>{{i['body']}}</p>
                {% endif %}
                {% endfor %}
            </div>

    </div>
</div>
</body>
<footer>
    <p>Made with ♥️ in Hyderabad.</p>
</footer>
</html>